# Assignment :>

## Floats

In [26]:
# Q. Declare a float value and store it in a variable.
# Check the type and print the id of the same.
a=110.00
print(type(a),id(a))

<class 'float'> 1314102471664

# Arithmetic  Operators on float:>

In [27]:
# Q. Arithmetic Operations on float
# Take two different float values.
# Store them in two different variables.
# Do below operations on them:-
# Find sum of both numbers
# Find difference between them
# Find the product of both numbers.
# Find value after dividing first num with second number
# Find the remainder after dividing first number with second number
# Find the quotient after dividing first number with second number
# Find the result of the first num to the power of the second number.
a=10.50
b=5.50
print(a+b) #sum
print(a-b) #diffrence
print(a*b) #multipication
print(a/b) #division
print(a%b) #modulo
print(a//b) #floor division
print(a**b) #exponential

16.0
5.0
57.75
1.9090909090909092
5.0
1.0
413562.49323606625

# Comparison Operators on float :>

In [28]:
# Q. Comparison Operators on float
# Take two different float values.
# Store them in two different variables.
# Do below operations on them:-
# Compare these two numbers with below operator:-
# Greater than, '>'
# Smaller than, '<'
# Greater than or equal to, '>='
# Less than or equal to, '<='
# Observe their output(return type should be boolean)

a=10.40
b=20.80
print(a>b) #false
print(a<b) #true
print(a>=b) #false
print(a<=b) #true
print(a!=b) #true

False
True
False
True
True

In [29]:
# Q. Equality Operator
# Take two different float values.
# Store them in two different variables.
# Equate them using equality operators (==, !=)
# Observe the output(return type should be boolean)

a=2.0
b=1.0
print (a==b) #false
print(a!=b) #true

False
True

# Logical operators :-

In [30]:
# Q. Logical operators
# Observe the output of below code
# Cross check the output manually
# print(10.20 and 20.30) #both are true and second value taken
# >Output is 20.3
# print(0.0 and 20.30) #First is false so first value
# taken->Output is 0.0

# print(20.30 and 0.0) #Goes to till second and second value is
# false so second is taken>Output is 0.0
# print(0.0 and 0.0) #First is false so first value is
# taken->Output is 0.0
# print(10.20 or 20.30) #First is True so first value is
# taken>Output is 10.2
# print(0.0 or 20.30) #Goes to till second and second is true
# second value is taken->Output is 20.3
# print(20.30 or 0.0) #First is True so first value is
# taken->Output is 20.3
# print(0.0 or 0.0) #Goes to till second and second is also
# false and second value is taken>Output is 0.0
# print(not 10.20) #-Not of true is false->Output is False
# print(not 0.0) #Not of false is True>Output is True

In [31]:
print(10.20 and 20.30) #output---> 20.30

20.3

In [32]:
print(0.0 and 30.30) #output --->0.0

0.0

In [33]:
 print(20.30 and 0.0) #Goes to till second and second value is
                      # false so second is taken--->Output is 0.0

0.0

In [34]:
print(0.0 and 0.0) #First is false so first value is
                    # taken->Output is----> 0.0

0.0

In [35]:
print(10.20 or 20.30) #First is True so first value is
                      # taken>Output is----> 10.2

10.2

In [36]:
print(0.0 or 20.30) #Goes to till second and second is true
                    # second value is taken->Output is ----> 20.3

20.3

In [37]:
 print(20.30 or 0.0) #First is True so first value is
                    # taken->Output is 20.3

20.3

In [38]:
print(0.0 or 0.0) #Goes to till second and second is also
                  # false and second value is taken>Output is ----> 0.0

0.0

In [39]:
print(not 10.20) #-Not of true is false->Output is False

False

In [40]:
print(not 0.0) #Not of false is True>Output is True

True

In [41]:
# Q. What is the output of expression inside print statement. Cross check
# before running the program.
# a = 10.20
# b - 10.20
# print(a is b) #True or False? True 10.20<256
# print(a is not b) #True or False? False
# Why the Id of float values are different when the same value is
# assigned to two different variables
# ex: a = 10.5 b=10.5. but id will be same if I assign the variable
# having float i.e. a=c then both a and c's Id are same

a = 10.20
b = 10.20
print(id(a))
print(id(b))
print(a is b) # false 10.20<256 as floats does not applicble to memory reusabiility property
print ( a is not b) #true as id of a and b are not same

1314102472304
1314102470384
False
True

In [42]:
x= 2.5
y =2.5
z= y
print(id(x))
print(id(y))    #Object reusability concept is not applicable on float values.
print(id(z) )
print (y is z)

1314102469520
1314102472496
1314102472496
True

In [43]:
##  Bitwise operation is not applicable between instances of float.

# Q. Membership operation
#in, not in are two membership operators and it returns boolean value

In [44]:
print('2.7' in 'Python2.7.8') #True

True

In [45]:
print(10.20 in [10,10.20,10+20j,'Python']) #True

True

In [46]:
print(10.20 in (10,10.20,10+20j,'Python')) # True

True

In [47]:
print(20.30 in {1,20.30,30+40j}) # True

True

In [48]:
print(2.3 in {1:100, 2.3:200, 30+40j:300}) # True

True

In [49]:
print(10 in range(20)) #true

True

# Thank you