# Assignment:- Map, Reduce, Filter

##  Abhilash Gajbhiye ( contact to : abhi.gajbhiye94055@gmail.com or 7218287098 )¶

### Batch - LB_DSC_23rd December_WKDY_EN_2022¶

In [2]:
# Write a Python program to triple all numbers of a given list of integers. Use Python map

list(map((lambda a: a*3),[4,5,6,2,7]))

[12, 15, 18, 6, 21]

In [14]:
# Write a Python program to add three given lists using Python map and lambda
list(map((lambda a,b,c: [a]+[b]+[c]),[1,2,3],[4,5,6],[7,8,9]))

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [13]:
list(map((lambda a,b,c:[a+b+c]),[1,2,3],[4,5,6],[7,8,9]))

[[12], [15], [18]]

In [19]:
# Write a Python program to add two given lists and find the difference between lists

"""
sample list
nums1 = [6, 5, 3, 9]
nums2 = [0, 1, 7, 7]


output  - [(6, 6), (6, 4), (10, -4), (16, 2)]

"""
nums1 = [6, 5, 3, 9]
nums2 = [0, 1, 7, 7]

list(map((lambda a, b: ((a+b),(a-b))),nums1,nums2))

[(6, 6), (6, 4), (10, -4), (16, 2)]

In [39]:
# Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters from a given sequence

my_str= "MY NAME IS ABHI"

(lambda a: a.lower()) (my_str)

'my name is abhi'

In [40]:
my_str= "my name is abhi"
(lambda a : a.upper())(my_str)

'MY NAME IS ABHI'

In [ ]:
my_str= 'MY NAME IS ABHI'
(lambda a: )

In [9]:
# Filter out the fruits that start with A 

fruits = ["apple","banana","mango","apricot"]
list(filter(lambda a: a[0]== "a", fruits))

['apple', 'apricot']

In [7]:
# Filter out the positve number from a list
List = [-1,4,5,-48,12,-78]
list(filter(lambda a: a<0 ,List))

[-1, -48, -78]

In [10]:
# filter out the multiples of 3 and 5 from a list
LIST =[3,9,7,12,5,18]
list(filter(lambda a : a%3 ==0,LIST))

[3, 9, 12, 18]

In [32]:
# find the max string using reuduce function
string= ["my name is ABHILASH", "my name is abhilassh gajbhiye"]
from functools import reduce
longest = reduce(lambda a,b: a if (len(a) > len(b)) else b, string)
print(longest)

my name is abhilassh gajbhiye

In [27]:
# find the mean , max and min of a given list using reduce function
LIST = [1,2,5,6,7]
#MAX
print(reduce((lambda x,y: x if x>y else y) , LIST))
#min
print(reduce((lambda x,y: x if x<y else y), LIST))
#mean
LIST = [1,2,5,6,7]
(reduce((lambda x,y: x+y) , LIST))/len(LIST)

7
1

4.2